@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

fontarial {
  font-family: arial;
}
fontcalibri {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
fontroboto {
  font-family: Roboto, sans-serif;
}

* {
  font-family: inherit;
}
.fontarial {
  font-family: Arial, sans-serif !important;
}

.fontcalibri {
  font-family: Calibri, sans-serif !important;
}

.fontroboto {
  font-family: "Roboto", sans-serif !important;
}
.fontfamily-roboto {
  font-family: "Roboto", sans-serif !important;
}
.fontfamily-arial {
  font-family: Arial, sans-serif !important;
}

.fontfamily-calibri {
  font-family: Calibri, sans-serif !important;
}

span.fontfamily-arial {
  font-family: Arial, sans-serif;
}

span.fontfamily-calibri {
  font-family: Calibri, sans-serif;
}

span.fontfamily-roboto {
  font-family: "Roboto", sans-serif;
}
.ace-line {
  font-family: Arial, sans-serif;
}
